h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #2C7776;
    text-shadow: 4px 4px 0 #000; 
}

h2 {
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0 #000;
    color: #FFF;
}

.container {
    display: inline-block;
    background-color: #3A4042;
    width: 600px;
    height: 184px;
    left: 89px;
    top: 196px;
    position: absolute;
    filter: drop-shadow(10px 10px 0px #000000);
}