h1 {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    color: #2C7776;
    text-shadow: 4px 4px 0 #000;     
}

h2 {
    font-size: 30px;
    font-family: 'Press Start 2P', sans-serif;
    text-shadow: 4px 4px 0 #000;
    color: #FFF;
}

#box {
    display: inline-block;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
}

#box h1 {
    margin-bottom: 28px;
}